<Head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />
  </Head>
<nav class="sidebar">
    <header>
      <div class="image-text">
        <span class="image">
          <img src="/NeuralNova.png" alt="logo"></img>
        </span>

        <div class="text logo-text">
          <span class="name">NeuralNova</span>
        </div>
      </div>

      <i class='bx bx-chevron-right toggle'></i>
    </header>

    <div class="menu-bar">
      <div class="menu">

        <li class="search-box">
          <i class="fa fa-light fa-rocket"></i>
          <input type="text" placeholder=" Search Instances..."></input>
        </li>

        <ul class="menu-links">
          <li class="nav-link">
            <a href="#">
              <i class="fa fa-solid fa-code-fork"></i>
              <span class="text nav-text"> Settings</span>
            </a>
          </li>

          <li class="nav-link">
            <a href="#">
              <i class="fa fa-solid fa-shield"></i>
              <span class="text nav-text"> Account</span>
            </a>
          </li>

          <li class="nav-link">
            <a href="#">
              <i class="fa-solid fa-gear"></i>
              <span class="text nav-text"> Documentation</span>
            </a>
          </li>
        </ul>
      </div>

      <div class="bottom-content">
        <li class="log">
          <a href="#">
            <i class="fa-solid fa-right-from-bracket"></i>
            <span class="text nav-text"> Logout</span>
          </a>
        </li>
      </div>
    </div>

  </nav>